<div class="container">
    <h2>User Settings</h2>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)" >

        <div class="form-group">
            <label for="name">Name(names that start C) </label>
            <input id="name" name="name" class="form-control" [(ngModel)]="userData.name"
              required minlength="3"#nameField="ngModel"
              (blur)="onBlur(nameField)"
              [class.fieldError]="nameField.invalid && form.submitted"
              />
              <div [hidden]="!form.submitted || nameField.valid" 
                class="alert alert-danger">
                Enter a name
              </div>      
        </div>

        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input type="text"
                placeholder="Start Date"
                class="form-control"
                [(ngModel)]="startDate" name="startDate" id="startDate"
                bsDatepicker>
        </div>

        Start Date: {{ startDate }}

        <button type="button" class="btn btn-primary" name="singleModel"
          [(ngModel)]="singleModel" btnCheckbox
          btnCheckboxTrue="On" btnCheckboxFalse="Off">
          {{ singleModel }}
        </button>

        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" id="emailOffers" name="emailOffers" [(ngModel)]="userData.emailOffers"/>
            <label class="form-check-label" for="emailOffers">Email Special Offers</label>
        </div>
        
        <p>User Interface Style</p>
        <div class="btn-group">
          <label class="btn btn-primary" [(ngModel)]="userData.interfaceStyle" name="interfaceStyle"
                 btnRadio="Light" tabindex="0" role="button">Light</label>
          <label class="btn btn-primary" [(ngModel)]="userData.interfaceStyle" name="interfaceStyle"
                 btnRadio="Medium" tabindex="0" role="button">Medium</label>
          <label class="btn btn-primary" [(ngModel)]="userData.interfaceStyle" name="interfaceStyle"
                 btnRadio="Dark" tabindex="0" role="button">Dark</label>
        </div>
        
        <div class="form-group">
            <label for="subscriptionType"> Subscription Type </label>
            <select class="form-control" id="subscriptionType"
                name="subscriptionType" [(ngModel)]="userData.subscriptionType">
                <option selected>Open this select menu</option>
                <option *ngFor="let type of subscriptionTypes | async">
                  {{ type }}
                </option>
                
              </select>
        </div>
        <div class="form-group">
            <label for="notes">
                <p>Notes</p>
            </label>
            <textarea id="notes" name="notes" class="form-control"
                rows="3" [(ngModel)]="userData.notes"> 
            </textarea><p></p>
        </div>  
        <div [hidden]="!postError"
            class="alert alert-dange">
            {{ postErrorMessage }}
        </div>       
            <button class="btn btn-primary mb-3">Send</button>
    </form>
</div>

{{ originalUserData | json }}